/* stylesheet by mkohls */

.map {
    border: medium solid #C4C4C4;
}

.units {
    stroke-linecap: round;
    stroke: #282828;
    stroke-width: 1.5px;
}

.states {
    fill: #D2D8D5;
    stroke: #282828;
    stroke-width: 1.5px;
}

.gratLines {
    fill: none;
    stroke: #C4C4C4;
    stroke-width: 0.5px;
}

.gratBackground {
    fill: #DDF8FA;
}
