/* stylesheet by mkohls */

.map {
    border: medium solid #C4C4C4;
    margin: 10px 0 0 20px;
}

.units {
    stroke-linecap: round;
    stroke: #282828;
    stroke-width: 1.5px;
}

.states {
    fill: #D2D8D5;
    stroke: #282828;
    stroke-width: 1.5px;
}

.gratLines {
    fill: none;
    stroke: #C4C4C4;
    stroke-width: 0.5px;
}

.gratBackground {
    fill: #DDF8FA;
}

.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #C4C4C4;
    float: right;
    margin: 10px 20px 0 0;
}

.numbers {
    fill: white;
    font-family: sans-serif;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.dropdown {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1.2px solid #C4C4C4;
    box-shadow: 2px 2px 4px #C4C4C4;
}

option {
    font-weight: normal;
}
